node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

#My
start-adb.ps1
ports.ps1
port-ip.ps1

adb
adb.eadb
.vscode/launch.json

_App.js
memo.md